<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="table-title mt-3">Dərsin əlavə edilməsi</h2>
        <div class="form-contrainer mt-4">
          <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
              <label class="form-label">Dərsin kodu</label>
              <input
                type="text"
                class="form-control"
                placeholder="Dərsin kodu"
                formControlName="code"
                [ngClass]="{
                  'border-danger': subjectForm.controls.code.errors && formSubmitted
                }"
              />
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.code.errors?.['required']">
                Dərs kodu boş ola bilməz!
              </p>
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.code.errors?.['maxlength']">
                Dərsin kodu 3 simvoldan çox ola bilməz!
              </p>
            </div>
            <div class="form-group mt-3">
              <label class="form-label">Dərsin adı</label>
              <input
                type="text"
                class="form-control"
                placeholder="Dərsin adı"
                formControlName="name"
                [ngClass]="{
                  'border-danger': subjectForm.controls.name.errors && formSubmitted
                }"
              />
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.name.errors?.['required']">
                Dərsin adı boş ola bilməz!
              </p>
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.name.errors?.['maxlength']">
                Dərsin adı 30 simvoldan çox ola bilməz!
              </p>
            </div>
            <div class="form-group mt-3">
              <label class="form-label">Sinif</label>
              <input
                type="number"
                class="form-control"
                placeholder="Sinif"
                formControlName="gradeLevel"
                [ngClass]="{
                  'border-danger': subjectForm.controls.gradeLevel.errors && formSubmitted
                }"
              />
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.gradeLevel.errors?.['required']">
                Sinif boş ola bilməz!
              </p>
              <p class="text-danger" *ngIf="formSubmitted && (subjectForm.controls.gradeLevel.errors?.['min'] || subjectForm.controls.gradeLevel.errors?.['max'])">
                Sinif 1-11 aralığında olmalıdır!
              </p>
            </div>
            <div class="form-group mt-3">
              <label class="form-label">Müəllimin adı</label>
              <input
                type="text"
                class="form-control"
                placeholder="Müəllimin adı"
                formControlName="teacherFirstName"
                [ngClass]="{
                  'border-danger': subjectForm.controls.teacherFirstName.errors && formSubmitted
                }"
              />
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.teacherFirstName.errors?.['required']">
                Müəllimin adı boş ola bilməz!
              </p>
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.teacherFirstName.errors?.['maxlength']">
                Müəllimin adı 20 simvoldan çox ola bilməz!
              </p>
            </div>
            <div class="form-group mt-3">
              <label class="form-label">Müəllimin soyadı</label>
              <input
                type="text"
                class="form-control"
                placeholder="Müəllimin soyadı"
                formControlName="teacherLastName"
                [ngClass]="{
                  'border-danger': subjectForm.controls.teacherLastName.errors && formSubmitted
                }"
                [maxlength]="20"
              />
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.teacherLastName.errors?.['required']">
                Müəllimin soyadı boş ola bilməz!
              </p>
              <p class="text-danger" *ngIf="formSubmitted && subjectForm.controls.teacherLastName.errors?.['maxlength']">
                Müəllimin soyadı 20 simvoldan çox ola bilməz!
              </p>
            </div>
            <div>
              <button type="submit" class="btn btn-primary w-100 mt-3" color="primary">
                Yadda saxla
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  