<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink] = "['/']">
      <img src="../../assets/img/Logo-new.png" alt="logo">
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/subjects'" routerLinkActive="active">Dərslər</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/students'" routerLinkActive="active">Şagirdlər</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="'/exams'" routerLinkActive="active">İmtahanlar</a>
      </li>
    </ul>
  </div>
</nav>