<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" [routerLink] = "['/']">
        <img src="../../assets/img/Logo-new.png" alt="logo">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/subjects'" routerLinkActive="active">Dərslər</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/students'" routerLinkActive="active">Şagirdlər</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/exams'" routerLinkActive="active">İmtahanlar</a>
        </li>
      </ul>
    </div>
</nav>